 <div class="card text-center">
  <div class="card-header">
    <h1> Here be, a Dashboard </h1>
  </div>
</div>

	<ul class="list-group">
		<li class="list-group-item">
			Statistics of some user if admin all user
		</li>
		<li class="list-group-item">
			Graps and other cool looking stuff
		</li>
		<li class="list-group-item">
			Add navigation bar and footer
		</li>
	</ul>
